@import "tailwindcss";

:root {
  --background-color: #fafaf8;
  --text-color: #1a1a1a;
  --accent-color: #c8963e;
  --form-color: #fafaf8;
  --white-color: #ffffff;
}

@theme inline {
  --color-background: var(--background-color);
  --color-form: var(--form-color);
  --color-accent: var(--accent-color);
  --color-text: var(---text-color);
  --font-sans: var(--font-montserrat);
}
body {
  background: rgb(190, 190, 190);
  color: var(--text-color);
}
